body{
    height: 100vh;
}

*, *::placeholder{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: rgb(15,15,209);
    background: -moz-linear-gradient(133deg, rgba(15,15,209,1) 32%, rgba(104,104,249,1) 62%);
    background: -webkit-linear-gradient(133deg, rgba(15,15,209,1) 32%, rgba(104,104,249,1) 62%);
    background: linear-gradient(133deg, rgba(15,15,209,1) 32%, rgba(104,104,249,1) 62%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0fd1",endColorstr="#6868f9",GradientType=1);
    position: relative;
    padding-top: 20px;
    height: 200px;
}

h1{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

#input-area{
    display: flex;
    justify-content: center;
}

input{
    padding: 10px;
    width: 33%;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    border: none;
}

#search{
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
}

#search:hover{
    cursor: pointer;
}

#container-info{
    width: 70%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;
    border-radius: 10px;
    padding: 8px;
}

#container-info ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#container-info ul li{
    width: 20%;
    min-height: 80px;
}

.info-title{
    color: #666666;
    font-size: 12px;
}

.info{
    font-size: 24px;
    word-wrap: break-word;
}


/*tornando a pagina responsiva*/
@media (max-width:750px) {
    header{
        height: 250px;
    }
    input{
        width: 80%;
    }
    #container-info{
        width: 80%;
    }
    #container-info ul{
        display: block;
    }
    #container-info ul li{
        width: 100%;
        min-height: 30px;
    }
}